*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* background: linear-gradient(45deg, #0c092b, #1f1961, #2f578b, #21e69a); */
    background: linear-gradient(45deg, #3f3f3f, #bbb);
    background-size: 200% 200%;
    animation: colors 10s ease infinite;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.divLogin{
    width: 40%;
    background-color: #e4e4e4;
    border-radius: 30px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);

    text-align: center;
}

.divLogin header{
    margin: 60px;
}

hr{
    margin: 20px 0;
}

input{
    width: 80%;
    padding: 15px;
    text-align: center;
    border-style: none;

    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 10px;
    transition: 0.3s;
}

input:focus{
    width: 85%;
    transition: 0.3s;
}

p{
    margin-top: 10px;
}

a{
    margin: 40px;
}
.loginOption{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;

    padding: 0 40px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 50px;
}

footer a{
    margin-top: 10px;
}

.btnAcess{
    border-style: none;
    width: 300px;
    height: 50px;
    border-radius: 20px;

    font-size: 18px;
    background-color: #bbbbbb;
    color: #000;
    cursor: pointer;

    transition: 1s;
}

.btnAcess:hover{
    background-color: #818181;
    transition: 1s;
}

fieldset{
    width: 320px;
    text-align: start;
    margin-top: 20px;
}

fieldset div input{
    box-shadow: none;
    width: 10px;
}

fieldset div input:focus{
    width: 10px;
    transition: none;
}
