@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.headerOptions {
  background-color: #dfdfdf;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: solid 1px #000;

  width: 100vw;
  position: fixed;
  top: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
  transition: 0.5s;

  display: flex;
  align-items: center;
}

a:hover {
  color: #818181;
  transition: 0.5s;
  text-decoration: overline;
}

.itens-wrapper {
  width: 100vw;
  margin-top: 120px;
}

.item img {
  width: 100%;
  height: 100%;
}

.items {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.item {
  flex: none;
  width: 20%;
  height: 250px;
  object-fit: cover;

  scroll-snap-align: start;
  pointer-events: none;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #838383;
}

.contentCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  margin: 50px 0;
}

.card {
  width: 350px;
  min-height: 300px;
  background: #dfdfdf;
  text-align: center;

  padding: 40px;
  box-shadow: 2px 2px 5px #00000080;
  border-radius: 15px;
  margin: 0 40px;
}

.card button {
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-align: center;

  background-color: #bbbbbb;
  box-shadow: 2px 2px 2px #00000080;
  border-style: none;
  border-radius: 20px;

  cursor: pointer;
  transition: 1s;
  margin-top: 30px;
  color: #000;
}

.card button:hover {
  background-color: #818181;
  box-shadow: 2px 2px 5px #00000080;
  transition: 1s;
}

.card p {
  font-size: 0.9rem;
}

.card h2 {
  margin-bottom: 40px;
}

.sectionPage {
  padding: 60px 0;
  background-color: #dfdfdf;
  width: 100vw;
  display: flex;

  flex-direction: column;
}

.sobreNos {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.sobreNos header {
  margin-bottom: 50px;
}

.sobreNos p {
  width: 70vw;
}

.videosContent {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  align-items: center;

  justify-content: center;
}

.videosContent video {
  margin: 0 30px;
}

.footerContentPage {
  background-color: #bbbbbb;
  width: 100vw;
  display: flex;
  justify-content: center;

  padding: 80px 0;
}

.imagesFooter img {
  width: 200px;
}
.btnAcess {
  border-style: none;
  width: 300px;
  height: 50px;
  border-radius: 20px;

  font-size: 18px;
  background-color: #bbbbbb;
  color: #000;
  cursor: pointer;

  transition: 1s;
  margin: 20px;
}

.btnAcess:hover,
.sairBtn:hover {
  background-color: #818181;
  transition: 1s;
}

.sairBtn {
  border-style: none;
  width: 100px;
  height: 35px;
  border-radius: 20px;

  font-size: 15px;
  background-color: #bbbbbb;
  color: #000;
  cursor: pointer;

  transition: 1s;
  margin: 5px;
}
